.header {
    width: 98vw;
    padding: 0 1vw;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}
.header-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}
.header-box > img {
    width: 50px;
}
.header-box > h1 {
    font-weight: 500;
}